.app-layout {
  display: flex;
  height: 100vh;
  background: #e5e5e5;
}

/* Center content */
.main-content {
  min-height: 100vh;

  /* protect content from fixed sidebars */
  padding-left: 280px;
  padding-right: 280px;

  background: #2b2b2b;

  display: flex;
  justify-content: center;
  overflow-y: auto;
}


.center-wrapper {
  padding: 32px;
  display: flex;
  justify-content: center;
}

.resume-canvas {
  width: 794px;
  min-height: 1123px;
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.15);
}
