<<<<<<< HEAD
=======
.left-sidebar {
  position: fixed;
  top: 0;
  left: 0;

  width: 280px;
  height: 100vh;

  background: #2b2b2b;
  color: #eaeaea;

  display: flex;
  flex-direction: column;

  transition: width 0.25s ease;
  z-index: 100;
}

.left-sidebar.collapsed {
  width: 60px;
}

/* Sections */

>>>>>>> 9fe18b287284b74fac47a21fff58681f909ce578
.sidebar-section {
  margin-bottom: 28px;
}

.sidebar-section h3 {
<<<<<<< HEAD
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 12px;
  color: #e0e0e0;
}

.sidebar-item {
  background: #3a3a3a;
  padding: 10px 12px;
  border-radius: 6px;
  margin-bottom: 8px;
}

.sidebar-item span {
  display: block;
  font-size: 14px;
}

.sidebar-item small {
  font-size: 12px;
  color: #aaa;
}

.add-btn {
  margin-top: 8px;
  width: 100%;
  background: none;
  border: 1px dashed #555;
  color: #aaa;
  padding: 8px;
  border-radius: 6px;
=======
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
  color: #e0e0e0;
}

.add-btn {
  width: 100%;
  padding: 8px;

  background: none;
  border: 1px dashed #555;
  border-radius: 6px;

  color: #aaa;
>>>>>>> 9fe18b287284b74fac47a21fff58681f909ce578
  cursor: pointer;
}

.add-btn:hover {
  border-color: #888;
  color: #fff;
}
