.editor-main {
  min-height: 100vh;

  /* protect canvas from fixed sidebars */
  padding-left: 280px;
  padding-right: 280px;

  background: #2b2b2b;

  display: flex;
  justify-content: center;
  overflow-y: auto;
}

.editor-center {
  padding: 0 32px;
  display: flex;
  justify-content: center;
}

.resume-canvas {
  margin-top: 32px;

  width: 794px;
  min-height: 1123px;

  background: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.15);
}
